code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.buscador {
  background-image: '#e2e2e2';
  padding: '10px';
  width: "800px";
}

.cabecera {
  background-color: #87B867;
}

.nav-link {
  color: blue
}

.pie {
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2B3E4C;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('/src/assets/fondo-provincia-expedientes.jpg');
}

.tablas-element-row:hover td {
  background-color: lightblue;
}

.tablas-element {
  background-color: white
}